<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405062329992-vkkf32rf0cuo2nniqls1j163qc5eaeeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405062329992-vkkf32rf0cuo2nniqls1j163qc5eaeeo</string>
	<key>API_KEY</key>
	<string>AIzaSyBtEOwd3rfEAPAPA24FIfdnETBSc_yycR0</string>
	<key>GCM_SENDER_ID</key>
	<string>405062329992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Yuu.Ritzy.yuritzy-practica4</string>
	<key>PROJECT_ID</key>
	<string>drinksapp-5ab0d</string>
	<key>STORAGE_BUCKET</key>
	<string>drinksapp-5ab0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405062329992:ios:4af0158009462a09bfa13d</string>
</dict>
</plist>